{
  "extends": ["kentcdodds", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "semi": ["error", "never"],
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "jest": true
  }
}
